
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  font-family: Oxygen, sans-serif;
  margin:2rem;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit minmax(12rem, 16rem));
  gap:2rem;
 /* justify-content: center;*/
}

img {
  max-width: 100%;
}


.logo {
  width: 4em;
  height: 4em;
  
}

/*Hi on front page*/
.fph1 {
  margin-top: 1em;
}

/*Front page card*/
.fpcard {
  width: 30%;
}


.background {
  
  height: 100vh;
  background-size: cover;
  padding: 1rem;
  margin: 5px;
  padding: 10px;
}

.light {
  color: rgb(225, 231, 236);
}

p {
  margin-left: 40px;
  margin-right: 40px;
  
}

.nav-item {
  background-color: rgb(234, 160, 132);
  color: blue;
  font-weight: 500;
}